.mainImg{
    margin: auto;
    height: 75vh;
    width: 90%;
    object-fit: cover;
}
.secondImg{
    width: 50%;
    margin: 2rem 0 2rem 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.blogTitulo{
    margin-top: 2rem;
    font-size: 40px;
    font-weight: bold;
}
.blogTexto{
    margin-top: 2rem;
    font-size: 20px;
    text-align: justify;
    padding: 0 2rem 0 2rem;
}
.subtitulo{
    font-size: 24px;
    text-align:left;
    margin-left: 2rem;
    font-weight: bold;
}

/* IMAGEN PRINCIPAL*/
.blog-page {
  background-image: url('/src/assets/Images/Blog/blogBack.jpg');
  background-size: cover;
  background-position:center;
  height: 100vh; 
  display: flex;
  margin-bottom: 4rem;
}
.blogContent {
    text-align: justify;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0); /* Fondo semi-transparente para hacer que el texto sea legible */
    margin: 6rem 0 0 1rem;
    margin-right: auto;
    border-radius: 10px;
  }
  .blogContent
  h1 {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
    font-size: 64px;
    font-weight:900;
    color: #f39c12;
    text-align: center;
    margin-top: 9rem;
  }
  .blogContent
  p {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
  }
  
 
  /* Estilos para hacerlo responsive */
  @media (max-width: 768px) {
    .blogContent {
      width: 70%; /* Cambia el ancho del contenido en pantallas pequeñas */
    }
  }
  
  @media (min-width: 320px) and (max-width:768px) {
    .blogContent {
      width: 100%;
       /* Cambia el ancho del contenido en pantallas aún más pequeñas */
    }
  
    .blogContent h1 {
      font-size: 36px; /* Cambia el tamaño de fuente del título en pantallas pequeñas */
    }
  
    .blogContent p {
      font-size: 22px; /* Cambia el tamaño de fuente del texto en pantallas pequeñas */
    }
  }