.titulo{
    font-size: 36px;
    margin: 4rem 0rem 2rem;
    color: #34495e;
    font-weight: bold;
}
.tituloPrincipal{
    color: #34495e;
}

.parrafo{
    line-height: 36px;
    font-size: 20px;
    text-align: justify;
    
 
}
.callToAction{
    margin-top: 6rem;
    font-size: 32px;
    font-weight: bold;
}
.fondoServicios{
    margin-left: 2rem;
    
    box-shadow: -6px -12px 102px -61px black;
    -webkit-box-shadow: -6px -12px 102px -61px black;
    -moz-box-shadow: -6px -12px 102px -61px black;
    
}
.button{
    margin-bottom: 2rem;
}
.parrafoPrincipal{
    padding: 0 3rem 0 3rem;
    text-align: center;
}

@media (max-width:768px){
    .fondoServicios{
        max-width: 550px;
    }
    .titulo{
       font-size: 32px;
    }
    #parrafoServices{
        width:100%;
        text-align: justify;
        
    }
    .fondoServicios{
        margin-left: auto;
    }
}





