/*INIDIO HEADER*/
.serviciosPage {
    background-image: url('/src/assets/Images/fondoServicios.png');
    background-size: cover;
    background-position:center;
    height: 40vh; /* Esto establece la altura del componente al 100% del alto de la ventana */
    display: flex;
    margin:0 1rem 3rem
  }
   
    
    /* Estilos para el contenido superpuesto */
    .contentServicios {
      text-align: center;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.0); /* Fondo semi-transparente para hacer que el texto sea legible */
      margin:auto;
    }
    .contentServicios
    h1 {
      font-size: 63px;
      font-weight:bolder;
      color: white;
      
    }
    .contentServicios
    p {
      font-size: 28px;
      
      color: white;
    }
    
    button {
      background-color: #007BFF;
      color: #fff;
      font-size: 18px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    /* Estilos para hacerlo responsive */
    @media (max-width: 768px) {
      .contentServicios {
        width: 80%; /* Cambia el ancho del contenido en pantallas pequeñas */
      }
    }
    
    @media (max-width: 480px) {
      .contentServicios {
        width: 90%;
        height: 90vh; /* Cambia el ancho del contenido en pantallas aún más pequeñas */
      }
    
      .contentServicios h1 {
        font-size: 28px; /* Cambia el tamaño de fuente del título en pantallas pequeñas */
      }
    
      .contentServicios p {
        font-size: 16px; /* Cambia el tamaño de fuente del texto en pantallas pequeñas */
      }
    }
/*FIN HEADER*/

.imagenPrincipal{
    width: 85%;
    height: 60vh;
    object-fit: cover;
    margin: auto;
    margin-bottom: 2rem;
}
.imagenSecundaria{
    width: 70%;
    margin: 2rem 0 2rem 0;
}
.serviciosContainer{
    
    background-color: #f4f4f4;
    
}
.serviciosContainer h1{
    font-size:72px;
    font-weight: bold;
}
.serviciosContainer h2{
    font-size: 36px;
    margin-bottom: 4rem;
    
}
.serviciosContainer p{
    font-size: 24px;
    text-align: justify;
}
#parrafo1{
    font-size: 32px;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 780px){
    .serviciosContainer{
        margin: 1rem 4rem 0 4rem;
        
    }
    .serviciosContainer h1{
        font-size:42px;
        font-weight: bold;
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .serviciosContainer h2{
        font-size: 28px;
        margin-bottom: 4rem;
        
    }
}